{% extends "base.html" %} 

{% comment %} /* 
Authors:
- zsolnai - georg.zsolnai123@gmail.com
- sejal - sejal@student.chalmers.se
- ciuchta - ciuchta@chalmers.se

Usage: groupOneApp/views.py
*/ {% endcomment %}

{% block content %}

<div class="d-flex justify-content-center custom-padding gap">
  <div class="card uploadCard">
    <div
      class="card-body form-control"
      style="margin: auto; width: 18rem; margin-bottom: 2rem"
    >
      <input
        id="uploadedImageFile"
        type="file"
        accept="image/*"
        name="myImage"
      />
      <button
        type="button"
        class="btn btn-light uploadButton"
        id="uploadButton"
        style="width: 10rem"
      >
        Upload
      </button>
    </div>
  </div>
  <div class="card uploadedPic">
    <div
      class="card-body d-flex justify-content-center"
      id="imageContainer"
    ></div>
  </div>
</div>
<div class="d-flex justify-content-center custom-padding1">
  <button type="button" class="btn btn-light predicButton" id="predictButton">
    Show result
    <div id="spinnerPredict" style="display: none; padding-right: 0.25rem;" class="spinner-border text-success" role="status">
  </button>
</div>
<hr class="hr" />
<div class="d-flex justify-content-center custom-padding1">
  <div class="predtext">
    Prediction: <span id="predictionResult"> No prediction</span>
  </div>
</div>
<div class="bottomSection" style="gap: 4rem">
  <div class="card explainableAI">
    <h2>Explainable AI</h2>
    <p style="text-align: center; padding: 0.5rem 5rem 0.5rem 5rem;">To explain our prediction we use a popular Explainable AI library called LIME, that shows how our ML model made the decision to give the current prediciton. The library colors in the pixels that our model highlights as strong indicators for the current prediction. The model also outputs an array of three percentages which represent the outcomes of the different classifcations. In combination, our goal is to show how the model made the decision and that each predicition can be associated with an explanation to help expose the prediciton made. </p>
    <div class="xaiBody">
      <div class="TextWithPredTable">
        <h3>Table of predicition</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Classification</th>
              <th scope="col">Percentage</th>
            </tr>
          </thead>
          <tbody>            
            <tr>
              <td>Benign</td>
              <td id="benignTb">Nan</td>
            </tr>
            <tr>
              <td>Malignant</td>
              <td id="malignantTb">Nan</td>
            </tr>
            <tr>
              <td>Normal</td>
              <td id="normalTb">Nan</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="xaiDiv"/>
    </div>
  </div>
  <span id="benignText" style="display: none; text-align: center; padding: 0.5rem 5rem 0.5rem 5rem;">Our model shows that the current image uploaded indicates that there is a small growth detected which shows low amounts of abnormalities in shape. The highlighted areas were highlighted based on the prediciton that the image shows a medium risk of cancer, please seek your closest medical professional if you are unsure or would like to get a real diagnosis. </span>
  <span id="malignantText" style="display: none; text-align: center; padding: 0.5rem 5rem 0.5rem 5rem;">Our model shows that the current image uploaded indicates a growth whose shape is distinctly abnormal and not uniform in size. This is a sign that there is a high risk of cancer, please seek your closest medical professional if you are unsure or would like to get a real diagnosis.</span>
  <span id="normalText" style="display: none; text-align: center; padding: 0.5rem 5rem 0.5rem 5rem;" >Our model shows that the current image uploaded indicates no distinguishable grow. This a sign that there is no/low risk of cancer, however, it is always best to check with a medical professional if you want a real diagnosis</span>
</div>

<script>
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();

    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $(document).ready(function () {
    $("#uploadButton").click(function () {
      var fileInput = document.getElementById("uploadedImageFile");
      var imageContainer = document.getElementById("imageContainer");

      var file = fileInput.files[0];

      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          // Display the image in the div
          imageContainer.innerHTML =
            '<img id="photo" src="' +
            e.target.result +
            ' " alt="Selected Image" width="130rem" height="130rem">';
        };

        reader.readAsDataURL(file);
      } else {
        alert("Please choose an image file.");
      }
    });
  });

  const csrftoken = getCookie("csrftoken");
  $(document).ready(function () {
    $("#predictButton").click(function () {
      
      $("#predictButton").attr("disabled", true);
      $("#spinnerPredict").show();
      var userId = getCookie("userId");
      var fileInput = document.querySelector("#uploadedImageFile");

      var formData = new FormData();
      formData.append("predictionFile", fileInput.files[0]);
      formData.append("userId", userId);
      $.ajax({
        url: "/predict/",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        //add the data with the image there
        success: function (response) {
          // No model existing should prohibit further behavior
          if (response.error_model404) {
            alert(response.error_model404);
            return;
          }

          alert("Your prediction is ready!");

          $("#predictButton").attr("disabled", false);
          $("#spinnerPredict").hide();
          
          //conditionally render the text
          if(response.predictionResultINT == 0) {
            $("#benignText").show()
          }else if(response.predictionResultINT == 1){
            $("#malignantText").show()
          }else if(response.predictionResultINT == 2){
            $("#normalText").show()
          }


          var resultColor;

          if (response.predictionResult.includes("High Risk")) {
            resultColor = "red";
          } else if (response.predictionResult.includes("Low/No Risk")) {
            resultColor = "green";
          } else if (response.predictionResult.includes("Medium Risk")) {
            resultColor = "orange";
          } else {
            resultColor = "black"; // Default color if none of the conditions match
          }

          $("#predictionResult")
            .text(response.predictionResult)
            .css("color", resultColor);

          var xaiDiv = document.getElementById("xaiDiv");
          // Display the image in the div
          xaiDiv.innerHTML =
            '<img id="photoXai" src="' +
            response.xaiPicture +
            ' " alt="Selected Image" width="200rem" height="200rem">';
 
          // Populate Table
          console.log(response.predictionsArr)
          console.log(typeof response.predictionResultINT)

          var benignTb = document.getElementById("benignTb")
          var malignantTb = document.getElementById("malignantTb")
          var normalTb = document.getElementById("normalTb")

          benignTb.innerHTML  = response.predictionsArr[0].toFixed(4)
          malignantTb.innerHTML  = response.predictionsArr[1].toFixed(4)
          normalTb.innerHTML  = response.predictionsArr[2].toFixed(4)

          //123.456
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("Error: " + errorThrown);
        },
      });
    });
  });
</script>

{% endblock %}
