<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Predict from picture</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <button type="button" id="predictButton">Run Prediction</button>

    <script>
      $(document).ready(function () {
        $("#predictButton").click(function () {
          $.ajax({
            url: "predict/",
            type: "post",
            body: {},
            success: function (response) {
              // Handle the response here
              alert("Model training started!");
            },
          });
        });
      });
    </script>
  </body>
</html>
