#title_text {
    margin: 1rem;
}

.retrain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}

.retrain-div{
    display: flex;
    flex-direction: row;
    gap: 12rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.retrain-body {
    padding-bottom: 3rem;
    width: 100%;
}

.retrain-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

#trainBtn {
    width: 100%;
    margin-top: 0rem;
}

.retrain-allmodels{
    display: flex;
    flex-direction: row;
    gap: 12rem;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.curr_model_text {
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.tables {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 14rem;
  }

.form-label, .form-control, .uploadButton {
    width: 100%;
    box-sizing: border-box;
}

.form-control {
    font-size: 12px;
    padding: 4px;
}